.hero {
    background-image: url("../../images/background_hero.png");
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-repeat: no-repeat;
    width: 100%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.backgroundHero {
    max-width: 150vh;
    background: linear-gradient(
            to right,
            rgba(91, 140, 81, 1.0) 0%,
            rgba(91, 140, 81, 0.8) 60%,
            rgba(91, 140, 81, 0.3) 76%,
            rgba(91, 140, 81, 0) 100%
    );
    min-height: 80vh;
    left: 0;
}

.fontSection {
    font-family: "Playfair Display", serif;
}